body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #92b700;
}

main {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  color: #9a3e64;
}

img {
  width: 400px;
  height: auto;
}
